<section>
  <div class="container">
    <h2>About <i>title</i></h2>
    <h2>We are awesome🤩</h2>
    <ul>
      <li>
        <h3>About subtitle</h3>
        <p>
          About description: Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Incidunt error minima blanditiis nam atque quisquam ab, odit
          dicta magni excepturi!
        </p>
      </li>
      <li>
        <h3>About subtitle</h3>
        <p>
          About description: Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Incidunt error minima blanditiis nam atque quisquam ab, odit
          dicta magni excepturi!
        </p>
      </li>
    </ul>
  </div>
</section>
